*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: Plumb;
  font-weight: 400;
  color: #5c2735;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
  
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media screen and (max-width: 1420px) {
  .banner-wp .contacts-logo {
    width: 1000px;
    top:-100px;
    right: -550px;
  }
  
}

@media screen and (max-width: 1200px) {
  .header-block .container {
    display: grid;
    grid-template-areas: 
    "logo call"
    "navig navig";
  }
  .image-block {
    grid-area: logo;
  }
  .call {
    grid-area: call;
  }
  .navigator {
    grid-area: navig;
    padding: 30px;
  }
  .navigator .navig-box {
    justify-content: center;
  }
  .navigator .navig-box .navig-item {
    padding: 0 30px;
  }
   .banner-wp .contacts-logo {
    top:-100px;
    right: -500px;
    width: 900px;
  }
}

@media screen and (max-width: 1150px) {
  .banner-wp .contacts-logo {
    width: 850px;
    top:-50px;
    right: -550px;
  }
  
}

@media screen and (max-width:1050px) {
  .banner-wp .contacts-logo {
    width: 850px;
    top:-50px;
    right: -550px;
  }
  .swiper-slide {
    flex-flow: column;
    text-align: center;
  }
}

@media screen and (max-width:1035px) {
  .banner-wp .contacts-logo {
    display:none;
  }
  .banner-sect .phone-block {
    max-width: none;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 770px) {
  .header-block .container {
    display: grid;
    grid-template-areas: 
    "logo"
    "navig"
    "call";
  }
  .image-block {
    grid-area: logo;
    justify-content: center;
  }
  .call {
    grid-area: call;
    justify-content: center;
    flex-flow: column;
  }
  .call-box .call-item{
    display:inline;
    padding: 0 30px;
  }
  .callback {
    margin-top: 30px;
  }
  .navigator {
    grid-area: navig;
    padding: 30px;
  }
  .navigator .navig-box {
    justify-content: center;
  }
  .navigator .navig-box .navig-item {
    padding: 0 30px;
  }
  .contacts-body {
    flex-flow: column;
    align-items: center;

  }
  .loyalty-rank {
    flex-flow: column;
    text-align: center;
  }
  .loyalty-rank .rank-item {
    border-right: none;
  }
}

@media screen and (max-width: 600px) {
.call-box .call-item  {
  display:flex;
  }
  .navigator .navig-box {
    display:flex;
    flex-flow: column;
    align-items: center;
  }
.container  .phone-button {
  margin-top: 30px;
  margin-left: 0;
}

.phone-call {
  display:flex;
  flex-flow: column;
}
.map-container .map-block {
  margin: 0 30px;
}
}

@font-face {
  font-family: 'Plumb';
  src: url('../fonts/Plumb-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plumb';
  src: url('../fonts/Plumb-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plumb';
  src: url('../fonts/Plumb-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plumb';
  src: url('../fonts/Plumb-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plumb';
  src: url('../fonts/Plumb-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

section .container {
flex-flow: column;
}

.header-block {
  min-height: 111px;
  padding: 15px 0;
  background-color: white;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1596px;
}

.header-block .container {
  justify-content: space-between;
  align-items: center;
}

.image-block {
  display: flex;
  align-items: center;
}

.main-logo {
  width: 230px;
  margin-right: 26px;
}

.navigator {
    display: block;
}

.navig-box {
  display: flex;
  min-width: 472px;
  justify-content: space-between;
}

.navig-item a:hover{
color: #4caa49;
}

.nav-item-anchor {
  color: #e10000;
  font-size: 22px;
  font-weight: 400;
  text-decoration: none;
}
 
.call {
  display: flex;
  align-items: center;
}

.call-box {
  flex-direction: column;
  margin-right: 26px;
  color: #6e2707;
}

.callback {
  align-items: center;
  margin-left: 26px;
}

.callback-button {
  width: 251px; 
  height: 56px;
  font-size: 22px;
  color: white;
  background: #4caa49;
  border: 3px solid #4caa49;
  border-radius:30px;
  text-align: center;
}

.callback-button h2 {
    text-align: center;
    margin: 0 auto;
    padding:  8px;
}

.main-pg {
  box-sizing: border-box;
  display: block;
  align-items: center;
  justify-content: center;
}

.swiper-container {
  width: 100%;
  min-height: 627px;
}

.swiper-pagination-bullet {
  background-color:#f50011;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/img/slider-back.jpg");
  background-repeat: no-repeat;
  padding: 30px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.slide-1-text h2 {
text-shadow: 3px 4px 6px rgba(239, 174, 146, 0.75);
color: #ffffff;
font-weight: 900;
font-size: 56px;
line-height: 84.19px;
text-transform: uppercase;

}

.swiper-slide h3 {
font-size: 22px;
line-height: 20px;
}

.price-button {
padding: 10px 0;
}

.price-button button{
border: 3px solid #f00011;
border-radius: 30px;
text-align: center;
color: #f50011;
margin-top: 25px;
padding: 8px;
}

.img-slide-1 {
  display: flex;
  min-width: 300px;
}

.main-pg {
  justify-content: center;
}

.welcome {
  display: block;
  text-align: center;
  margin-top: 100px;
  padding-bottom: 100px;
}

.welcome h3 {
color: #4caa49;
font-weight: bold;
font-size: 24px;
text-transform: uppercase;
}

.welcome h2 {
  font-weight: 900;
  font-size: 60px;
  line-height: 84.19px;
  text-transform: uppercase;
}

.map-container {
   display: block;
   align-items: center;
}

.map-block {
   display: flex;
   margin: 0 100px;
   padding-bottom: 400px;
 }

 .loyalty-sect {
   padding-bottom: 120px;
   margin-top: -200px;
 }

.loyalty-head {
   display: flex;
   flex-flow: column;
   text-align: center;
 }

.loyalty-head h2 {
    font-weight: bold;
    font-size: 60px;
    line-height: 84.18px;
    text-transform: uppercase;
}

.loyalty-head h3 {
  font-size: 22px;
  line-height: 30px;
}

.loyalty-rank {
  display: inline-flex;
  margin: 0 77px;
  margin-top: 50px;

}

.loyalty-rank [class] h2 {
  font-size: 80px;
}

.loyalty-rank [class] h3 {
  font-size: 22px;
  line-height: 30px;
}

.rank-item {
  border-right: 1px solid;
  border-right-color: #4caa49;
  padding: 20px;
  margin: 15px;
}

.loyalty-rank :last-child {
  border-right: none;
}

.joinus {
  text-align: center;
  padding: 30px 0;
}

.joinus-bt {
  height: 57px;
  border: 3px solid #f00011;
  color:white;
  background-color: #e3000f;
  border-radius: 30px;
  font-size: 22px;
}

.loyalty-info {
  text-align:center;
}

.banner-sect {
  display:block;
  position: relative;
  background-color: white;
  
}

.banner-wp { 
  background-image: url(/assets/img/banner-bg.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-position: -177px -276px;
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 75% 35%;
  border-bottom-right-radius: 75% 35%;
  padding-top: 187px;
  padding-bottom: 200px;
}

.phone-block {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:0 30px;
  max-width: 720px;
}

.phone-head {
  display: flex;
  text-align: center;
  font-size: 33px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 55px;
}

.phone-body {
  color: #fbf5b2;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 40px;
}

.contacts-logo {
  position: absolute;
  top: -550px;
  right: -950px;

}

.your-phone {
  border: none;
  border-bottom: 3px solid;
  border-bottom-color: white;
  background: none;
  color: white;
  margin-top: 40px;
  text-align: center;
  font-weight: 400;
}

.phone-button {
  width: 282px;
  height: 57px;
  font-size: 20px;
  color: white;
  background: #4caa49;
  border: 3px solid #4caa49;
  border-radius: 30px;
  text-align: center;
  margin-left: 30px;
}

.phone-info {
  margin-top: 30px;
  color: #f8e1a3;
  opacity: 0.7;
  text-align: center;
}

.phone-info a {
  color: #f8e1a3;
}

.contacts {
 margin-bottom: 100px;
}

.contacts-title {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 75px;
  font-family: "Plumb";
  font-weight: bold;
  font-size:60px;
  text-transform: uppercase;
}

.contacts-body {
  display: flex;
  justify-content: space-between;
}

.contact-element {
  text-align: center;
  max-width: 420px;
}

.icon-phone {
  background-image: url(/assets/img/icon_phone.png);
  background-repeat: no-repeat;
  width: 66px;
  height: 66px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.icon-p-text a{
  color: #4caa49;
}

.icon-email {
  background-image: url(/assets/img/icon_email.png);
  background-repeat: no-repeat;
  width: 66px;
  height: 66px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.icon-em-text a{
  color: #4caa49;
}
.icon-map {
  background-image: url(/assets/img/icon_map.png);
  background-repeat: no-repeat;
  width: 66px;
  height: 66px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.footer-3g {
  text-align: center;
  background-color: #dff3e5;
  margin: 0 100px;
}
