*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: Plumb;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
  
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: Plumb;
  src: url(/assets/fonts/Plumb-black.ttf);
  font-weight: 400;
}

/* section {
    height: 1000px;
    padding: 0 calc(50%-590px);
} */

section .container {
flex-flow: column;
}

.header-block {
  min-height: 111px;
  padding: 15px 0;
  background-color: white;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1596px;
}

.header-block .container {
  justify-content: space-between;
  align-items: center;
}

.image-block {
  display: flex;
  align-items: center;
}

.main-logo {
  max-width: 230px;
  margin-right: 26px;
}

.navigator {
    display: block;
    margin-right: 26px;
}

.navig-box {
  display: flex;
  min-width: 472px;
  justify-content: space-between;
}

.navig-item a:hover{
color: #4caa49;
}

.nav-item-anchor {
  color: #e10000;
  font-size: 22px;
  font-weight: 400;
  text-decoration: none;
}
 
.call {
  display: flex;
  align-items: center;
}

.call-box {
  display: flex;
  flex-direction: column;
  margin-right: 26px;
}

.callback {
  align-items: center;
  margin-left: 26px;
}

.callback-button {
  width: 251px; 
  height: 56px;
  font-size: 22px;
  color: white;
  background: #4caa49;
  border: 3px solid #4caa49;
  border-radius: 90px/60px;
  text-align: center;
}

.callback-button h2 {
    text-align: center;
    margin: 0 auto;
    padding:  8px;
}

.main-pg {
  box-sizing: border-box;
  display: block;
  align-items: center;
  justify-content: center;
}

.swiper-container {
  width: 100%;
  height: 100%;

}

.swiper-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 0;
}

.swiper-slide {
  display:flex;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/img/slider-bg.png");
}

.slide-1-text h2 {
  text-shadow: 3px 4px 6px rgba(239, 174, 146, 0.75);
  color: #ffffff;
  font-size: 56px;
  font-weight: 400;
  line-height: 84.19px;
  text-transform: uppercase;

}

.swiper-slide h3 {
  width: 541px;
  height: 21px;
  color: #592332;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
}

.price-button {
width: 195px;
height: 56px;
border: 3px solid #f00011;
border-radius: 90px/60px;
text-align: center;
color: #f50011;
margin-top: 25px;
padding: 8px;
}

.img-slide-1 {
  display: flex;
  width: auto;
  height: 473px;
}

.main-pg {
  justify-content: center;
}

.welcome {
  display: block;
  text-align: center;
}

.welcome h3 {
color: #4caa49;
font-size: 24px;
font-weight: 400;
text-transform: uppercase;
}

.welcome h2 {
  color: #5c2735;
  font-size: 60px;
  font-weight: 400;
  line-height: 84.19px;
  text-transform: uppercase;
}

.map-container {
   display: block;
   align-items: center;
}

.map-block {
   display: flex;
   margin: 0 100px;
 }

.loyalty-head {
   display: block;
   text-align: center;
 }

.loyalty-head h2 {
    color: #5c2735;
    font-size: 60px;
    font-weight: 400;
    line-height: 84.18px;
    text-transform: uppercase;
}

.loyalty-head h3 {
  color: #5c2735;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  font-weight: 400;
}

.loyalty-rank {
  display: inline-flex;
  margin: 0 77px;

}

.loyalty-rank [class] h2 {
  color: #5c2735;
  font-size: 80px;
  font-weight: 400;
}

.loyalty-rank [class] h3 {
  color: #5c2735;
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
}

.first {
  border-right: 1px solid;
  border-right-color: #4caa49;
  padding: 20px;
  margin: 15px;
}


.second {
  border-right: 1px solid;
  border-right-color: #4caa49;
  padding: 20px;
  margin: 15px;
}

.third {
  padding: 20px;
  margin: 15px;
}

.joinus {
  text-align: center;
}

.joinus-bt {
  width: 455px;
  height: 57px;
  border: 3px solid #f00011;
  color:white;
  background-color: #e3000f;
  border-radius: 90px/60px;
  font-size: 22px;
}

.banner-sect {
  display:block;
  position: relative;
  background-color: white;
  
}

.banner-wp { 
  background-image: url(/assets/img/banner-bg.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-position: -177px -276px;
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 75% 35%;
  border-bottom-right-radius: 75% 35%;
  padding-top: 187px;
  padding-bottom: 200px;
}

.phone-block {
  display:flex;
  flex-direction: column;
  align-items: center;
  padding-left: 30px;
  max-width: 720px;
}

.phone-head {
  display: flex;
  text-align: center;
  font-size: 47px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 55px;
}

.phone-body h3 {
  color: #fbf5b2;
  font-size: 24px;
  font-weight: 400;
}

.contacts-logo {
box-sizing: border-box;

}

.your-phone {
  border: none;
  border-bottom: 3px solid;
  border-bottom-color: white;
  background: none;
  color:white;
  padding-left: 15px;
}

.phone-button {
  width: 282px;
  height: 57px;
  font-size: 20px;
  color: white;
  background: #4caa49;
  border: 3px solid #4caa49;
  border-radius: 90px/60px;
  text-align: center;
}